<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Status</th>
      <th>Price</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Sq ft</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.street %></td>
        <td><%= listing.status %></td>
        <td><%= listing.price %></td>
        <td><%= listing.bedrooms %></td>
        <td><%= listing.bathrooms %></td>
        <td><%= listing.sq_ft %></td>
        <td><%= listing.lat %></td>
        <td><%= listing.lng %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
